@charset "UTF-8";
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

.region-albums, .section-playlists, .playlist, .list-albums, .tab-novedades .news-item, .tab-shows .shows-list, .tab-shows .show-item, .search-results-list, .user-config__userdata, .user-config .option-list__item {
  *zoom: 1;
}

.region-albums:before, .section-playlists:before, .playlist:before, .list-albums:before, .tab-novedades .news-item:before, .tab-shows .shows-list:before, .tab-shows .show-item:before, .search-results-list:before, .user-config__userdata:before, .user-config .option-list__item:before, .region-albums:after, .section-playlists:after, .playlist:after, .list-albums:after, .tab-novedades .news-item:after, .tab-shows .shows-list:after, .tab-shows .show-item:after, .search-results-list:after, .user-config__userdata:after, .user-config .option-list__item:after {
  content: " ";
  display: table;
}

.region-albums:after, .section-playlists:after, .playlist:after, .list-albums:after, .tab-novedades .news-item:after, .tab-shows .shows-list:after, .tab-shows .show-item:after, .search-results-list:after, .user-config__userdata:after, .user-config .option-list__item:after {
  clear: both;
}

.modal__container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slick-arrow {
  overflow: hidden;
  text-indent: -9000px;
  display: block;
}

.centered {
  text-align: center;
}

.hero__title, .hero__title-alt, .mus-table td, .mus-table th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header {
  background-color: #212121;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transition: opacity 300ms cubic-bezier(0.175, 0.885, 0.335, 1);
}

@media (min-width: 769px) {
  .header {
    display: none;
  }
}

.header__logo {
  height: 32px;
  width: auto;
  margin-left: 75px;
  margin-top: 9px;
}

.menu-active .header {
  opacity: 0;
  transition: opacity 300ms cubic-bezier(0.175, 0.885, 0.335, 1);
}

.h-menu {
  position: absolute;
  cursor: pointer;
  top: 17px;
  left: 22px;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
  width: 27px;
  height: 20px;
}

.h-menu img {
  max-width: 100%;
  max-height: 100%;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  height: 100vh;
  height: calc(100vh - 50px);
  width: 69%;
  padding: 28px 28px 50px 28px;
  background-color: #212121;
  background-color: rgba(33, 33, 33, 0.92);
  z-index: 8;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  transition: 300ms cubic-bezier(0.175, 0.885, 0.335, 1);
}

@media (min-width: 769px) {
  .sidebar {
    padding: 28px;
  }
}

.sidebar__active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: 300ms cubic-bezier(0.175, 0.885, 0.335, 1);
}

@media (min-width: 769px) {
  .sidebar {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    width: 175px;
    background-color: #101010;
    height: calc(100vh - 60px);
  }
}

.sidebar__close {
  cursor: pointer;
  position: absolute;
  top: 28px;
  right: 28px;
}

@media (min-width: 769px) {
  .sidebar__close {
    display: none;
  }
}

.sidebar__logo {
  width: 50%;
  height: auto;
  max-width: 150px;
  margin-left: -5px;
}

@media (min-width: 769px) {
  .sidebar__logo {
    width: 105px;
  }
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
}

.sidebar-item {
  font-size: 20px;
  padding: 7px 0;
  cursor: pointer;
}

.sidebar-item__img {
  max-width: 100%;
  height: 24px;
  padding: 0;
}

.sidebar-item__img--hover {
  display: none;
}

@media (min-width: 769px) {
  .sidebar-item:hover {
    color: #29b6f6;
    transition: 200ms;
  }
}

.sidebar-item__img-wrap {
  vertical-align: bottom;
  display: inline-block;
  width: 24px;
  max-height: 24px;
  margin-right: 18px;
}

@media (min-width: 769px) {
  .sidebar-item {
    font-size: 14px;
  }
}

.sidebar-item--search {
  margin: 0 -28px;
}

.sidebar-item--search input {
  width: 100%;
  outline: none;
  background-color: #29b6f6;
  color: white;
  padding: 3px 11px 3px 28px;
  border: none;
}

.sidebar-item.hidden {
  display: none;
}

.user-menu {
  position: absolute;
  bottom: 0;
  padding: 0 0 5px 0;
  width: inherit;
}

.user-menu__avatar {
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 24px;
  margin-left: -5px;
}

.user-menu__link {
  display: inline-block;
}

.user-menu__link img {
  width: 24px;
  height: 24px;
  max-height: 24px;
}

.user-menu__link:first-of-type {
  margin-bottom: 10px;
}

@media (min-width: 769px) {
  .user-menu {
    bottom: 0;
  }
}

.player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #29b6f6;
  z-index: 10;
}

@media (min-width: 769px) {
  .player {
    height: 60px;
  }
}

.strip {
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: white;
  position: relative;
}

@media (min-width: 769px) {
  .strip {
    font-size: 13px;
  }
}

.strip__cover {
  max-height: 100%;
  max-width: 100%;
  float: left;
  margin-right: 10px;
}

.now-playing {
  padding-top: 7px;
  padding-right: 10px;
  max-width: 165px;
  max-width: calc(100% - 80px - 75px);
  height: 100%;
  float: left;
}

@media (min-width: 769px) {
  .now-playing {
    padding-top: 12px;
    max-width: 150px;
    max-width: calc(175px - 50px);
  }
}

.now-playing__song {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.controls {
  float: right;
  height: 100%;
  padding: 10px 20px 10px 0;
}

.controls .btn {
  display: none;
  vertical-align: sub;
  height: 100%;
  line-height: 35px;
  cursor: pointer;
}

@media (min-width: 769px) {
  .controls .btn {
    display: inline-block;
    vertical-align: middle;
    line-height: inherit;
    margin-right: 10px;
  }
  .controls .btn:last-of-type {
    margin-right: 0;
  }
}

.controls .btn img {
  max-width: 100%;
}

.controls .btn-play {
  display: block;
  height: 100%;
  width: 40px;
  background-color: transparent;
  border: none;
  height: 100%;
  display: block;
  outline: none;
  margin: 0 10px;
}

@media (min-width: 769px) {
  .controls .btn-play {
    display: inline-block;
    vertical-align: text-bottom;
    line-height: inherit;
    margin-left: 0;
  }
}

.controls .btn-play img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.controls .btn-options {
  width: 24px;
}

.controls .divider {
  display: none;
  background: black;
  height: 100%;
  width: 1px;
}

@media (min-width: 769px) {
  .controls .divider {
    display: inline-block;
    vertical-align: sub;
  }
}

@media (min-width: 769px) {
  .controls {
    width: 260px;
    text-align: right;
    padding: 10px 20px 10px 0;
  }
}

.track {
  display: none;
  float: left;
  height: 100%;
  text-align: center;
  padding-top: 19px;
}

@media (min-width: 769px) {
  .track {
    display: inline-block;
    width: calc(100% - 175px - 20px - 260px);
  }
}

.track .range {
  width: 80px;
  width: calc(100% - 120px);
  display: inline-block;
  height: 4px;
  background: black;
  margin: 0 15px;
  position: relative;
  cursor: pointer;
}

.track .range .progress {
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0;
  top: 0;
  background: white;
}

.track .timer {
  cursor: default;
  display: inline-block;
  vertical-align: sub;
}

.mus-btn {
  border-radius: 3px;
  background-color: white;
  color: #29b6f6;
  text-transform: uppercase;
  padding: 8px 20px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  transition: 100ms;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  outline: none;
  box-sizing: border-box;
  border: 1px solid white;
}

@media (min-width: 769px) {
  .mus-btn:hover {
    transition: 200ms;
    color: white;
    background-color: #29b6f6;
    border: 1px solid #29b6f6;
  }
}

.mus-btn:active {
  transition: 0s;
  color: white;
  background-color: #077cb2;
}

.mus-btn--block {
  display: block;
  width: 100%;
}

.mus-btn--primary {
  background-color: #29b6f6;
  border: 1px solid #29b6f6;
  color: white;
}

@media (min-width: 769px) {
  .mus-btn--primary {
    transition: 200ms;
  }
  .mus-btn--primary:hover {
    border: 1px solid #0a9fe2;
    background-color: #0a9fe2;
  }
}

.mus-btn--white {
  background-color: white;
  color: #29b6f6;
}

@media (min-width: 769px) {
  .mus-btn--white:hover {
    transition: 200ms;
    color: white;
    background-color: #29b6f6;
  }
}

.mus-btn--lined {
  border: 1px solid white;
  color: white;
  background: transparent;
}

.mus-btn--lined:hover {
  background: white;
  color: #29b6f6;
}

.swipe-menu {
  overflow: hidden;
  background-color: #212121;
}

.swipe-menu__cell {
  transition: 200ms;
  display: none;
  color: white;
  text-decoration: none;
  line-height: 1;
  padding: 15px 14px;
  border-bottom: 4px solid #212121;
  outline: none;
}

@media (min-width: 769px) {
  .swipe-menu__cell {
    display: inline-block;
    padding: 15px 25px;
  }
}

.swipe-menu__cell--active {
  border-bottom: 4px solid #29b6f6;
}

@media (min-width: 769px) {
  .swipe-menu__cell:hover {
    transition: 200ms;
    border-bottom: 4px solid #29b6f6;
  }
}

.swipe-menu__cell:first-child {
  display: inline-block;
}

.swipe-menu.slick-initialized .swipe-menu__cell {
  display: inline-block;
}

.modal {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 300px;
}

.modal__container {
  overflow: auto;
  background-color: #101010;
  padding: 30px;
  height: 100%;
  width: 100%;
}

@media (min-width: 769px) {
  .modal__container {
    width: auto;
    height: auto;
    max-height: 60%;
    min-width: 300px;
    position: absolute;
  }
}

.modal__title {
  color: #29b6f6;
  text-transform: uppercase;
}

.ctx-menu {
  position: absolute;
  top: 40px;
  left: 200px;
  z-index: 10;
  color: white;
  background-color: #101010;
  padding: 14px;
  font-size: 13px;
  min-width: 150px;
}

.ctx-menu__item {
  padding: 5px 0;
  cursor: pointer;
}

.ctx-menu__btn {
  position: absolute;
  cursor: pointer;
  width: 32px;
  height: auto;
}

.ctx-menu--sm .ctx-menu__btn {
  width: 17px;
}

.ctx-menu--md .ctx-menu__btn {
  width: 24px;
}

.ctx-menu--topleft {
  padding-top: 28px;
}

.ctx-menu--topleft .ctx-menu__btn {
  top: 14px;
  left: 14px;
}

.ctx-menu--topright {
  padding-top: 25px;
}

.ctx-menu--topright .ctx-menu__btn {
  top: 14px;
  right: 14px;
  left: auto;
}

.ctx-menu--bottomright {
  padding-bottom: 25px;
}

.ctx-menu--bottomright .ctx-menu__btn {
  top: auto;
  bottom: 14px;
  right: 14px;
  left: auto;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #333;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #555;
}

a {
  color: #29b6f6;
  text-decoration: none;
}

img {
  max-width: 100%;
}

html {
  box-sizing: border-box;
  height: 100%;
  color: white;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
  background-color: #000000;
}

@media (min-width: 480px) {
  html {
    min-height: 480px;
  }
}

body {
  height: 100%;
  font-size: 16px;
  padding-top: 50px;
}

@media (min-width: 769px) {
  body {
    padding-top: 0;
  }
}

@media (min-width: 769px) {
  .main {
    margin-left: 175px;
  }
}

.main-container {
  padding-bottom: 72px;
}

@media (min-width: 769px) {
  .main-container {
    padding: 0;
    max-width: 1260px;
  }
}

.container {
  padding: 22px;
}

@media (min-width: 769px) {
  .container {
    padding: 30px;
  }
}

.container--padded-bottom {
  padding-bottom: 72px;
}

.round-img {
  border-radius: 50%;
}

.btn-back {
  position: relative;
  z-index: 1;
  margin-bottom: 22px;
  display: inline-block;
}

.section-home {
  margin-bottom: 30px;
}

.slick {
  width: 100%;
  width: calc(100% + 22px);
  margin-bottom: 22px;
  /* Escondido mientras no inicializa */
  visibility: hidden;
  max-height: 150px;
  /* Se muestra al inicializar. */
}

.slick.slick-initialized {
  visibility: visible;
  max-height: none;
}

.carousel-cell {
  color: white;
  text-decoration: none;
  margin-right: 22px;
}

.carousel-cell img {
  width: 100%;
  height: auto;
}

.slick-slide {
  outline: none;
}

.heading-more {
  position: relative;
  width: 100%;
}

.slick-arrow {
  background: none;
  border: none;
  position: absolute;
  top: -46px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  cursor: pointer;
  right: 22px;
}

.slick-arrow:hover {
  transition: 200ms;
  -webkit-transform: scale3d(1.2, 1.2, 1.2);
          transform: scale3d(1.2, 1.2, 1.2);
}

.slick-arrow.slick-prev {
  background-image: url(../img/slick-arrow-left.svg);
  right: 64px;
}

.slick-arrow.slick-next {
  background-image: url(../img/slick-arrow-right.svg);
}

.square__img {
  margin-bottom: 5px;
}

.square__title {
  font-weight: bold;
  font-size: 14px;
}

.square__subtitle {
  font-weight: lighter;
  font-size: 14px;
}

.square__avatar {
  width: 100%;
  position: relative;
  margin-bottom: 8px;
}

.square__avatar:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.square__avatar > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.square__avatar .content {
  background-size: cover;
  background-position: center top;
}

.hero {
  height: auto;
  min-height: 205px;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 22px;
}

@media (min-width: 769px) {
  .hero {
    padding: 30px;
    min-height: 250px;
  }
}

.hero__overlay {
  z-index: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.hero__overlay--blurred {
  left: -5%;
  top: -5%;
  height: 110%;
  width: 110%;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.hero__overlay--solid-blue {
  background: #29b6f6;
}

.hero__overlay--center {
  background-position: center;
}

.hero__gradient {
  z-index: 0;
  height: 40%;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  background-blend-mode: multiply;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
}

.hero__content {
  position: relative;
  z-index: 1;
}

.hero__img {
  margin-right: 20px;
  float: left;
  height: 125px;
  width: 125px;
}

@media (min-width: 769px) {
  .hero__img {
    width: 150px;
    height: 150px;
  }
}

.hero__data {
  width: 40%;
  width: calc(100% - 145px);
  float: left;
}

.hero__data--margin-top {
  margin-top: 7px;
}

@media (min-width: 448px) {
  .hero__data--margin-top {
    margin-top: 27px;
  }
}

@media (min-width: 769px) {
  .hero__data--margin-top {
    margin-top: 56px;
  }
}

@media (min-width: 769px) {
  .hero__data {
    width: 70%;
    width: calc(100% - 175px);
  }
}

.hero__subtitle {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  font-size: 14px;
}

.hero__title {
  font-weight: 300;
  font-size: 30px;
  margin: 0 0 5px 0;
  line-height: 1;
}

.hero__title-alt {
  font-weight: normal;
  font-size: 21px;
  margin: 0;
  line-height: 1;
}

@media (min-width: 769px) {
  .hero__title-alt {
    font-weight: lighter;
    font-size: 30px;
    line-height: 1.3;
  }
}

.hero__text {
  margin-bottom: 15px;
}

.mus-table {
  color: #a7a7a7;
  font-size: 14px;
  width: 100%;
  border: none;
  border-collapse: collapse;
}

.mus-table .album-sm {
  width: 50px;
  height: 50px;
}

.mus-table th, .mus-table td {
  border: none;
}

.mus-table th {
  font-weight: normal;
  text-align: left;
  border: none;
  color: #575757;
}

.mus-table tr {
  cursor: pointer;
}

.mus-table .cell-main {
  color: white;
}

.mus-table .cell-main:hover {
  transition: color 200ms;
  color: #29b6f6;
}

.mus-table tbody tr {
  transition: color 200ms;
}

.mus-table tbody tr:hover, .mus-table tbody tr.playing, .mus-table tbody tr.playing .cell-main {
  color: #29b6f6;
}

.mus-table thead {
  text-transform: uppercase;
  font-size: 13px;
}

.mus-table td, .mus-table th {
  padding: 12px 0;
  vertical-align: middle;
  border-bottom: 1px solid #303030;
}

.mus-table td + td, .mus-table th + td, .mus-table th + th {
  padding-left: 5px;
}

.mus-table td.desktop, .mus-table th.desktop {
  display: none;
}

@media (min-width: 769px) {
  .mus-table td.desktop, .mus-table th.desktop {
    display: table-cell;
  }
}

.mus-table thead.desktop {
  display: none;
}

@media (min-width: 769px) {
  .mus-table thead.desktop {
    display: table-row-group;
  }
}

.mus-table .desktop {
  display: none;
}

@media (min-width: 769px) {
  .mus-table .desktop {
    display: inline-block;
  }
}

.mus-table .icon-playing {
  max-width: 10px;
  max-height: 13px;
}

.mus-table .action {
  cursor: pointer;
}

.mus-table .action--star {
  width: 16px;
  height: auto;
}

.mus-table .action--menu {
  width: 5px;
  height: 20px;
}

@media (min-width: 769px) {
  .mus-table .action--menu {
    display: none;
  }
}

.mus-table .action--menu-sm {
  width: 17px;
  vertical-align: super;
  display: none;
}

@media (min-width: 769px) {
  .mus-table .action--menu-sm {
    display: inline-block;
  }
}

.mus-table .cell-acciones {
  min-width: 18px;
  text-align: center;
}

.mus-table .cell-duration {
  min-width: 30px;
  max-width: 33px;
  text-align: center;
}

.mus-heading {
  color: #29b6f6;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  font-size: 20px;
  margin-bottom: 22px;
}

.mus-heading img {
  margin-bottom: 2px;
  max-height: 25px;
  vertical-align: middle;
  margin-right: 15px;
  min-height: 26px;
  vertical-align: text-top;
}

.mus-heading--lower {
  text-transform: none;
}

.mus-heading--lined {
  text-transform: none;
  border-bottom: 1px solid #242424;
  padding-bottom: 15px;
}

.page-album .mus-heading--canciones {
  display: none;
  margin-bottom: 10px;
}

@media (min-width: 769px) {
  .page-album .mus-heading--canciones {
    display: block;
  }
}

.page-album .btn-play {
  margin-right: 14px;
}

.btn-menu-dots {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  display: none;
}

@media (min-width: 769px) {
  .btn-menu-dots {
    display: inline-block;
  }
}

.list-playlists {
  margin: 0 -11px;
  text-align: center;
}

.playlist {
  margin-bottom: 22px;
  display: inline-block;
  position: relative;
  margin-bottom: 22px;
  padding-left: 11px;
  padding-right: 11px;
  width: 100%;
  float: left;
}

.playlist img {
  display: block;
  max-width: 100%;
}

@media (min-width: 623px) {
  .playlist {
    width: 50%;
  }
}

@media (min-width: 769px) {
  .playlist {
    width: 100%;
  }
}

@media (min-width: 814px) {
  .playlist {
    width: 50%;
  }
}

@media (min-width: 1174px) {
  .playlist {
    width: 33.333333%;
  }
}

.page-artista .btn-artist-play, .page-artista .btn-artist-follow, .page-pais .btn-artist-play, .page-pais .btn-artist-follow {
  min-width: 120px;
}

.page-artista .btn-artist-play, .page-pais .btn-artist-play {
  margin-bottom: 10px;
}

.page-artista .btn-artist-follow, .page-pais .btn-artist-follow {
  min-width: 120px;
}

.page-artista .container-artista .tab, .page-artista .container-pais .tab, .page-pais .container-artista .tab, .page-pais .container-pais .tab {
  display: none;
}

.page-artista .container-artista .tab--active, .page-artista .container-pais .tab--active, .page-pais .container-artista .tab--active, .page-pais .container-pais .tab--active {
  display: block;
}

.page-artista .album-sm, .page-pais .album-sm {
  width: 50px;
  height: 50px;
}

.page-artista .row--album-art, .page-pais .row--album-art {
  max-width: 60px;
}

@media (min-width: 769px) {
  .page-artista .tab-canciones .square__subtitle, .page-pais .tab-canciones .square__subtitle {
    display: none;
  }
}

.mus-tab {
  display: none;
}

.tab--active {
  display: block;
}

.list-albums {
  margin-left: -11px;
  margin-right: -11px;
  max-width: 1260px;
  margin-bottom: 22px;
}

.list-albums__square {
  color: white;
  width: 50%;
  float: left;
  padding: 0 11px;
  margin-bottom: 22px;
}

.list-albums__square img {
  max-width: 100%;
}

@media (min-width: 623px) {
  .list-albums__square {
    width: 25%;
  }
}

@media (min-width: 1174px) {
  .list-albums__square {
    width: 16.66666666666667%;
  }
}

.list-albums--artist {
  text-align: center;
}

.list-albums--inline {
  display: inline-block;
  float: left;
}

.bio__img-wrap {
  margin-top: -22px;
  margin-left: -22px;
  margin-right: -22px;
  text-align: center;
}

@media (min-width: 769px) {
  .bio__img-wrap {
    width: 50%;
    float: right;
    margin: 0;
    padding-left: 11px;
  }
}

.bio__body {
  font-size: 15px;
  font-weight: 300;
}

@media (min-width: 769px) {
  .bio__body {
    width: 50%;
    float: left;
    padding-right: 11px;
  }
  .bio__body p:first-of-type {
    margin-top: 0;
  }
}

.tab-novedades .news-list {
  margin: 0;
  padding: 0;
  max-width: 860px;
  list-style: none;
}

.tab-novedades .news-item {
  margin-bottom: 22px;
  padding: 11px;
  width: 100%;
}

.tab-novedades .news-item a {
  color: white;
}

.tab-novedades .news-item:nth-of-type(even) {
  background-color: #121212;
}

.tab-novedades .news-item__body {
  font-weight: 300;
  font-size: 18px;
  margin-left: 72px;
}

@media (min-width: 769px) {
  .tab-novedades .news-item__body {
    font-size: 14px;
  }
}

.tab-novedades .news-item__title {
  font-size: 20px;
  font-weight: bold;
}

@media (min-width: 769px) {
  .tab-novedades .news-item__title {
    font-size: 16px;
  }
}

.tab-novedades .news-item__date {
  font-size: 14px;
  font-weight: 300;
}

@media (min-width: 769px) {
  .tab-novedades .news-item__date {
    font-size: 13px;
  }
}

.tab-novedades .news-item__img {
  float: left;
  margin-right: 22px;
  width: 50px;
  height: 50px;
}

.tab-novedades .news-item p:last-child {
  margin-bottom: 0;
}

.tab-shows .shows-list {
  margin: 0;
  padding: 0;
  margin: 0 -11px;
  max-width: 1250px;
  list-style: none;
}

.tab-shows a {
  color: white;
}

.tab-shows .show-item {
  position: relative;
  margin-bottom: 22px;
  padding-left: 11px;
  padding-right: 11px;
  width: 100%;
  float: left;
}

@media (min-width: 623px) {
  .tab-shows .show-item {
    width: 50%;
  }
}

@media (min-width: 769px) {
  .tab-shows .show-item {
    width: 100%;
  }
}

@media (min-width: 814px) {
  .tab-shows .show-item {
    width: 50%;
  }
}

@media (min-width: 1174px) {
  .tab-shows .show-item {
    width: 33.333333%;
  }
}

.tab-shows .show-item__img {
  width: 100%;
}

.tab-shows .show-item__plus {
  width: 27px;
  height: 27px;
  position: absolute;
  bottom: 0;
  right: 11px;
}

.tab-shows .show-item__title {
  font-size: 18px;
  font-weight: bold;
}

.tab-shows .show-item__date, .tab-shows .show-item__venue {
  font-size: 18px;
  font-weight: 300;
}

.section-search-results {
  position: relative;
}

.list-search-albums {
  position: relative;
}

.search-title-albumes {
  padding-left: 11px;
}

@media (min-width: 623px) {
  .search-title-albumes {
    position: absolute;
    top: -46px;
    left: 0;
  }
}

.search-title-albumes, .search-title-artistas {
  padding-left: 11px;
}

@media (min-width: 623px) {
  .search-title-albumes, .search-title-artistas {
    position: absolute;
    left: 0;
    top: -46px;
  }
}

.list-search-artists {
  width: 100%;
}

@media (min-width: 623px) {
  .list-search-artists {
    width: 33.333%;
  }
}

.list-search-artists .list-albums__square {
  width: 50%;
}

.list-search-albums {
  width: 100%;
}

@media (min-width: 623px) {
  .list-search-albums {
    width: 66.666%;
  }
}

.list-search-albums .list-albums__square {
  width: 50%;
}

.list-search-albums .list-albums__square:nth-of-type(2n) {
  display: none;
}

@media (min-width: 623px) {
  .list-search-albums .list-albums__square {
    width: 25%;
  }
  .list-search-albums .list-albums__square:nth-of-type(2n) {
    display: inline-block;
  }
}

.search-results-list {
  margin-left: -11px;
  margin-right: -11px;
  margin-top: 62px;
}

.search-results-list .more-link {
  position: absolute;
  right: 11px;
  top: 8px;
  color: #a1a1a1;
  font-size: 14px;
}

@media (min-width: 623px) {
  .search-results-list .more-link {
    top: -42px;
  }
}

.list-results {
  position: relative;
}

.list-results--artist {
  text-align: center;
}

.list-results--inline {
  display: inline-block;
  float: left;
}

.list-amount {
  color: #5a5a5a;
  font-weight: lighter;
}

.btn-new-list {
  color: white;
  background: #29b6f6;
  border: none;
  float: right;
  font-size: 9px;
  padding: 9px;
}

@media (min-width: 321px) {
  .btn-new-list {
    font-size: 10px;
    padding: 9px 12px;
  }
}

.btn-new-list:hover {
  color: white;
  background: #29b6f6;
  border: none;
}

/* Configuración */
.user-config {
  max-width: 660px;
}

.user-config__avatar-wrap {
  float: left;
  padding-right: 22px;
  width: 35%;
}

@media (min-width: 528px) {
  .user-config__avatar-wrap {
    width: 120px;
    height: 120px;
  }
}

.user-config__userdata {
  margin-bottom: 30px;
}

.user-config__data {
  float: left;
  width: 65%;
  font-size: 16px;
  margin-bottom: 22px;
}

@media (min-width: 528px) {
  .user-config__data {
    width: calc(100% - 120px);
  }
}

@media (min-width: 820px) {
  .user-config__data-text {
    width: 325px;
    float: left;
  }
}

@media (min-width: 820px) {
  .user-config__buttons {
    text-align: right;
  }
}

.user-config__name {
  font-size: 26px;
  line-height: 1;
  margin-bottom: 5px;
  font-weight: 300;
}

.user-config__account {
  margin-bottom: 10px;
}

.user-config__account-type {
  text-transform: uppercase;
}

.user-config__account-type, .user-config__account-link {
  font-weight: bold;
}

.user-config__account-type:hover, .user-config__account-link:hover {
  transition: 200ms;
  color: white;
}

.user-config .option-list {
  padding: 0;
  list-style: none;
  margin: 0 -22px;
  color: #a9a9a9;
  margin-bottom: 60px;
}

@media (min-width: 769px) {
  .user-config .option-list {
    margin: inherit;
    margin-bottom: 60px;
  }
}

.user-config .option-list__item {
  padding: 6px 22px;
}

.user-config .option-list__item:nth-child(odd) {
  background-color: #0e0e0e;
}

@media (min-width: 769px) {
  .user-config .option-list__item {
    padding: 10px 22px;
  }
}

.user-config .option-list__text {
  float: left;
  max-width: 180px;
}

@media (min-width: 769px) {
  .user-config .option-list__text {
    max-width: 400px;
  }
}

@media (min-width: 800px) {
  .user-config .option-list__text {
    max-width: 500px;
  }
}

.user-config .option-list__option {
  float: right;
  cursor: pointer;
}

.user-config .option-list__option img {
  vertical-align: middle;
}

.user-config .config-links {
  color: white;
}

.user-config .config-links .separator {
  margin: 0 6px;
}

.user-config .config-links a {
  color: white;
  position: relative;
}

.user-config .config-links a:hover {
  transition: 200ms;
  color: #29b6f6;
}

.mus-select-plain {
  background-color: black;
  color: white;
  height: 32px;
  border: none;
  outline: none;
}

.empty {
  max-width: 495px;
  text-align: center;
  position: relative;
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 769px) {
  .empty {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: calc(50% - 50px);
  }
}

.empty--sm {
  max-width: 300px;
}

@media (min-width: 769px) {
  .empty {
    margin-left: calc(175px / 2);
  }
}

.empty__icon {
  width: 120px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
}

.empty__title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.empty p {
  font-size: 16px;
}

.empty__input {
  background-color: rgba(255, 255, 255, 0.12);
  width: 100%;
  margin-top: 20px;
  border: none;
  outline: 0;
  height: 36px;
  color: white;
  padding: 0 36px;
  background-image: url(../img/icon-loupe-blue.svg);
  background-repeat: no-repeat;
  background-position: center left 10px;
  background-size: 15px;
}

.empty__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.empty__bg:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.input-line {
  border: none;
  background-color: transparent;
  width: 100%;
  border-bottom: 1px solid #29b6f6;
  outline: 0;
  color: white;
}

@media (min-width: 769px) {
  .modal-add-list .modal__container {
    width: 320px;
  }
}

.modal-add-list .modal-listas {
  max-height: auto;
  overflow: auto;
}

@media (min-width: 769px) {
  .modal-add-list .modal-listas {
    max-height: 200px;
  }
}

.modal-add-list .btn-modal-cancelar {
  margin-right: 20px;
}

.modal-add-list .btn-modal-cancelar, .modal-add-list .btn-modal-crear {
  width: 45%;
  width: calc(50% - 10px);
  float: left;
  margin-bottom: 30px;
}

.modal-add-list .modal-lista {
  height: 90px;
  padding: 15px 0;
  margin-right: 5px;
  border-top: 1px solid #323232;
  border-bottom: 1px solid #323232;
  cursor: pointer;
}

.modal-add-list .modal-lista .album-sm {
  height: 100%;
  display: inline-block;
  float: left;
  margin-right: 15px;
}

.modal-add-list .modal-lista .square__title {
  font-size: 16px;
}

.modal-add-list .modal-lista .square__subtitle {
  font-size: 14px;
}

.modal-add-list .modal-lista__info {
  margin-top: 7px;
}

/*# sourceMappingURL=main.css.map */
