.mus-btn{
  border-radius: 3px;
  background-color: white;
  color: $color-blue;
  text-transform: uppercase;
  padding: 8px 20px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  transition: 100ms;
  backface-visibility: hidden;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  outline: none;
  box-sizing: border-box;
  border: 1px solid white;

  &:hover{
    @media($desktop){
      transition: 200ms;
      color: white;
      background-color: $color-blue;
      border: 1px solid $color-blue;
    }
  }

  &:active{
    transition: 0s;
    color: white;
    background-color: darken($color-blue, 20%);
  }

  &--block{
    display: block;
    width: 100%;
  }

  &--primary{
    background-color: $color-blue;
    border: 1px solid $color-blue;
    color: white;
    @media ($desktop){
      transition: 200ms;
      &:hover{
        border: 1px solid darken($color-blue, 10%);
        background-color: darken($color-blue, 10%);
      }
    }
  }

  &--white{
    background-color: white;
    color: $color-blue;
    &:hover{
      @media($desktop){
        transition: 200ms;
        color: white;
        background-color: $color-blue;
      }
    }
  }

  &--lined{
    border: 1px solid white;
    color: white;
    background: transparent;

    &:hover{
      background: white;
      color: $color-blue;
    }
  }
}
