.ctx-menu{
  position: absolute;
  top: 40px;
  left: 200px;
  z-index: 10;
  color: white;
  background-color: #101010;
  padding: 14px;
  font-size: 13px;
  min-width: 150px;

  &__item{
    padding: 5px 0;
    cursor: pointer;
  }

  &__btn{
    position: absolute;
    cursor: pointer;
    width: 32px;
    height: auto;
  }

  &--sm{
    .ctx-menu__btn{
      width: 17px;
    }
  }

  &--md{
    .ctx-menu__btn{
      width: 24px;
    }
  }

  &--topleft{
    padding-top: 28px;
    .ctx-menu__btn{
      top: 14px;
      left: 14px;
    }
  }
  &--topright{
    padding-top: 25px;
    .ctx-menu__btn{
      top: 14px;
      right: 14px;
      left: auto;
    }
  }
  &--bottomright{
    padding-bottom: 25px;
    .ctx-menu__btn{
      top: auto;
      bottom: 14px;
      right: 14px;
      left: auto;
    }
  }
}
