.header{
  background-color: #212121;
  height: $topbar-height;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transition: opacity 300ms cubic-bezier(0.175, 0.885, 0.335, 1);

  @media ($desktop){
    display: none;
  }

  &__logo{
    height: 32px;
    width: auto;
    margin-left: 75px;
    margin-top: 9px;
  }

  .menu-active &{
    opacity: 0;
    transition: opacity 300ms cubic-bezier(0.175, 0.885, 0.335, 1);
  }
}

.h-menu{
  position: absolute;
  cursor: pointer;
  top: 17px;
  left: 22px;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
  width: 27px;
  height: 20px;
  img{
    max-width: 100%;
    max-height: 100%;
  }
}

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  height: 100vh;
  height: calc(100vh - #{$bottombar-height});
  width: 69%;
  padding: 28px 28px $topbar-height 28px;
  background-color: #212121;
  background-color: rgba(33, 33, 33, 0.92);
  z-index: 8;
  transform: translate3d(-100%, 0, 0);
  transition: 300ms cubic-bezier(0.175, 0.885, 0.335, 1);

  @media($desktop){
    padding: 28px;
  }

  &__active{
    transform: translate3d(0, 0, 0);
    transition: 300ms cubic-bezier(0.175, 0.885, 0.335, 1);
  }

  @media ($desktop){
    transform: translate3d(0, 0, 0);
    width: $sidebar-width;
    background-color: #101010;
    height: calc(100vh - #{$bottombar-height-desktop});
  }

  &__close{
    cursor: pointer;
    position: absolute;
    top: 28px;
    right: 28px;
    @media ($desktop){
      display: none;
    }
  }

  &__logo{
    width: 50%;
    height: auto;
    max-width: 150px;
    margin-left: -5px;
    @media ($desktop){
      width: 105px;
    }
  }
}

.sidebar-list{
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
}

.sidebar-item{
  font-size: 20px;
  padding: 7px 0;
  cursor: pointer;

  &__img{
    max-width: 100%;
    height: 24px;
    padding: 0;
  }
  &__img--hover{
    display: none;
  }

  &:hover{
    @media($desktop){
      color: $color-blue;
      transition: 200ms;
    }
  }

  &__img-wrap{
    vertical-align: bottom;
    display: inline-block;
    width: 24px;
    max-height: 24px;
    margin-right: 18px;
  }

  @media($desktop){
    font-size: 14px;
  }

  // Search input
  &--search{
    margin: 0 -28px;
    input{
      width: 100%;
      outline: none;
      background-color: $color-blue;
      color: white;
      padding: 3px 11px 3px 28px;
      border: none;
    }
  }

  &.hidden{display: none;}
}

.user-menu{
  position: absolute;
  bottom: 0;
  padding: 0 0 5px 0;
  width: inherit;

  &__avatar{
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 24px;
    margin-left: -5px;
  }
  &__link{
    display: inline-block;
    img{
      width: 24px;
      height: 24px;
      max-height: 24px;
    }

    &:first-of-type{
      margin-bottom: 10px;
    }
  }

  @media ($desktop){
    bottom: 0;
  }
}
