.modal{
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  min-height: 300px;

  &__container{
    @extend %centerer;
    overflow: auto;
    background-color: #101010;
    padding: 30px;
    height: 100%;
    width: 100%;

    @media($desktop){
      width: auto;
      height: auto;
      max-height: 60%;
      min-width: 300px;
      position: absolute;
    }
  }

  &__title{
    color: $color-blue;
    text-transform: uppercase;
  }
}
