.player{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $topbar-height;
  background-color: $color-blue;
  z-index: 10;
  @media($desktop){
    height: 60px;
  }
}

.strip{
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: white;
  position: relative;

  @media($desktop){
    font-size: 13px;
  }

  &__cover{
    max-height: 100%;
    max-width: 100%;
    float: left;
    margin-right: 10px;
  }
}

.now-playing{
  padding-top: 7px;
  padding-right: 10px;
  max-width: 165px;
  max-width: calc(100% - 80px - 75px);
  height: 100%;
  float: left;
  @media ($desktop){
    padding-top: 12px;
    max-width: 150px;
    max-width: calc(#{$sidebar-width} - 50px);
  }

  &__song{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
  }
}

.controls{
  float: right;
  height: 100%;
  padding: 10px 20px 10px 0;

  .btn{
    display: none;
    vertical-align: sub;
    height: 100%;
    line-height: 35px;
    cursor: pointer;
    @media ($desktop){
      display: inline-block;
      vertical-align: middle;
      line-height: inherit;
      margin-right: 10px;
      &:last-of-type{
        margin-right: 0;
      }
    }
    img{
      max-width: 100%;
    }
  }

  .btn-play{
    display: block;
    height: 100%;
    width: 40px;
    background-color: transparent;
    border: none;
    height: 100%;
    display: block;
    outline: none;
    margin: 0 10px;
    @media ($desktop){
      display: inline-block;
      vertical-align: text-bottom;
      line-height: inherit;
      margin-left: 0;
    }
    img{
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }


  .btn-options{
    width: 24px;
  }

  .divider{
    display: none;
    background: black;
    height: 100%;
    width: 1px;
    @media ($desktop){
      display: inline-block;
      vertical-align: sub;
    }
  }

  @media ($desktop){
    width: 260px;
    text-align: right;
    padding: 10px 20px 10px 0;
  }
}

.track{
  display: none;
  float: left;
  height: 100%;
  text-align: center;
  padding-top: 19px;

  @media ($desktop){
    display: inline-block;
    width: calc(100% - #{$sidebar-width} - 20px - 260px);
  }

  .range{
    width: 80px;
    width: calc(100% - 120px);
    display: inline-block;
    height: 4px;
    background: black;
    margin: 0 15px;
    position: relative;
    cursor: pointer;

    .progress{
      position: absolute;
      width: 40%;
      height: 100%;
      left: 0;
      top: 0;
      background: white;
    }
  }

  .timer{
    cursor: default;
    display: inline-block;
    vertical-align: sub;
  }
}
