.swipe-menu{
  overflow: hidden;
  background-color: #212121;

  &__cell {
    transition: 200ms;
    display: none;
    color: white;
    text-decoration: none;
    line-height: 1;
    padding: 15px 14px;
    border-bottom: 4px solid #212121;
    outline: none;

    @media ($desktop){
      display: inline-block;
      padding: 15px 25px;
    }

    &--active{
      border-bottom: 4px solid $color-blue;
    }
    &:hover{
      @media ($desktop) {
        transition: 200ms;
        border-bottom: 4px solid $color-blue;
      }
    }
  }
  &__cell:first-child {
    display: inline-block;
  }

  &.slick-initialized &__cell {
    display: inline-block;
  }
}
