@charset "UTF-8";

$desktop : 'min-width: 769px';

$color-blue : #29b6f6;
$topbar-height: 50px;
$bottombar-height: 50px;
$topbar-height-desktop: 60px;
$bottombar-height-desktop: 60px;
$sidebar-width: 175px;
$padding-mobile: 22px;
$padding-desktop: 30px;
