@charset "UTF-8";

// Imports
@import 'normalize';
@import "variables";
@import "helpers";
@import "menu";
@import "player";
@import "buttons";
@import "swipe-menu";
@import "modal";
@import "contextmenu";

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #333;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #555;
}

a{
  color: $color-blue;
  text-decoration: none;
}

img {max-width: 100%;}

html{
  box-sizing: border-box;
  height: 100%;
  color: white;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
  background-color: #000000;
  @media(min-width: 480px){
    min-height: 480px;
  }
}

body{
  height: 100%;
  font-size: 16px;
  padding-top: $topbar-height;
  @media ($desktop){
    padding-top: 0;
  }
}

.main{
  @media ($desktop){
    margin-left: $sidebar-width;
  }
}

.main-container{
  padding-bottom: $topbar-height + 22px;
  @media ($desktop){
    padding: 0;
    max-width: 1260px;
  }
}

.container{
  padding: $padding-mobile;

  @media ($desktop){
    padding: $padding-desktop;
  }

  &--padded-bottom{
    padding-bottom: $bottombar-height + 22px;
  }
}

.region-albums{
  @extend %clearfix;
}

.round-img{
  border-radius: 50%;
}

.btn-back{
  position: relative;
  z-index: 1;
  margin-bottom: 22px;
  display: inline-block;
}

// Index page, sliders.

.section-home{
  margin-bottom: 30px;
}

.slick{
  width: 100%;
  width: calc(100% + 22px);
  margin-bottom: 22px;

  /* Escondido mientras no inicializa */
  visibility: hidden;
  max-height: 150px;

  /* Se muestra al inicializar. */
  &.slick-initialized{
    visibility: visible;
    max-height: none;
  }
}

.carousel-cell{
  color: white;
  text-decoration: none;
  margin-right: 22px;

  img{
    width: 100%;
    height: auto;
  }
}

.slick-slide {
    outline: none
}

.heading-more{
  position: relative;
  width: 100%;
}

.slick-arrow{
  @extend %hide-text;
  background: none;
  border: none;
  position: absolute;
  top: -46px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  cursor: pointer;
  right: 22px;

  &:hover{
    transition: 200ms;
    transform: scale3d(1.2, 1.2, 1.2);
  }

  &.slick-prev{
    background-image: url(../img/slick-arrow-left.svg);
    right: 64px;
  }
  &.slick-next{
    background-image: url(../img/slick-arrow-right.svg);
  }
}

// Squares (albums, users)

.square__img{
  margin-bottom: 5px;
}

.square__title{
  font-weight: bold;
  font-size: 14px;
}
.square__subtitle{
  font-weight: lighter;
  font-size: 14px;
}

.square__avatar{
  width: 100%;
  @include aspect-ratio(1, 1);
  margin-bottom: 8px;
  .content{
    background-size: cover;
    background-position: center top;
  }
}

.hero{
  height: auto;
  min-height: 205px;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: $padding-mobile;

  @media ($desktop){
    padding: $padding-desktop;
    min-height: 250px;
  }

  &__overlay{
    z-index: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;

    &--blurred{
      left: -5%;
      top: -5%;
      height: 110%;
      width: 110%;
      filter: blur(10px);
    }

    &--solid-blue{
      background: $color-blue;
    }

    &--center{
      background-position: center;
    }
  }

  &__gradient{
    z-index: 0;
    height: 40%;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    background-blend-mode: multiply;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 1) 100%);
  }

  &__content{
    position: relative;
    z-index: 1;
  }

  &__img{
    margin-right: 20px;
    float: left;
    height: 125px;
    width: 125px;
    @media ($desktop){
      width: 150px;
      height: 150px;
    }
  }

  &__data{
    width: 40%;
    width: calc(100% - 145px);
    float: left;
    &--margin-top{
      margin-top: 7px;
      @media (min-width: 448px){
        margin-top: 27px;
      }
      @media ($desktop){
        margin-top: 56px;
      }
    }
    @media ($desktop){
      width: 70%;
      width: calc(100% - 175px);
    }
  }

  &__subtitle{
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    font-size: 14px;
  }

  &__title{
    font-weight: 300;
    font-size: 30px;
    margin: 0 0 5px 0;
    line-height: 1;

    @extend %ellipsis;
  }

  &__title-alt{
    font-weight: normal;
    font-size: 21px;
    margin: 0;
    line-height: 1;
    @extend %ellipsis;
    @media($desktop){
      font-weight: lighter;
      font-size: 30px;
      line-height: 1.3;
    }
  }

  &__text{
    margin-bottom: 15px;
  }

}

.mus-table{
  color: #a7a7a7;
  font-size: 14px;
  width: 100%;
  border: none;
  border-collapse: collapse;

  .album-sm{
    width: 50px;
    height: 50px;
  }

  th, td{
    border: none;
  }

  th{
    font-weight: normal;
    text-align: left;
    border: none;
    color: #575757;
  }

  tr{
    cursor: pointer;
  }

  .cell-main{
    color: white;
    &:hover{
      transition: color 200ms;
      color: $color-blue;
    }
  }

  tbody{
    tr{
      transition: color 200ms;
      &:hover, &.playing, &.playing .cell-main{
        color: $color-blue;
      }
    }
  }

  thead{
    text-transform: uppercase;
    font-size: 13px;
  }

  td, th{
    @extend %ellipsis;
    padding: 12px 0;
    vertical-align: middle;
    border-bottom: 1px solid #303030;
  }

  td + td, th + td, th + th {
    padding-left: 5px;
  }

  td.desktop, th.desktop{
    display: none;
    @media ($desktop){
      display: table-cell;
    }
  }

  thead.desktop{
    display: none;
    @media ($desktop){
      display: table-row-group;
    }
  }

  .desktop{
    display: none;
    @media ($desktop){
      display: inline-block;
    }
  }

  .icon-playing{
    max-width: 10px;
    max-height: 13px;
  }

  .action{
    cursor: pointer;
    &--star{
      width: 16px;
      height: auto;
    }

    &--menu{
      width: 5px;
      height: 20px;
      @media ($desktop){
        display: none;
      }
    }

    &--menu-sm{
      width: 17px;
      vertical-align: super;
      display: none;
      @media ($desktop){
        display: inline-block;
      }
    }
  }

  .cell-acciones{
    min-width: 18px;
    text-align: center;
  }

  .cell-duration{
    min-width: 30px;
    max-width: 33px;
    text-align: center;
  }
}

.mus-heading{
  color: $color-blue;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  font-size: 20px;
  margin-bottom: 22px;
  img{
    margin-bottom: 2px;
    max-height: 25px;
    vertical-align: middle;
    margin-right: 15px;
    min-height: 26px;
    vertical-align: text-top;
  }

  &--lower{ text-transform: none; }

  &--lined{
    text-transform: none;
    border-bottom: 1px solid #242424;
    padding-bottom: 15px;
  }
}

// Album Page

.page-album{
  .mus-heading--canciones{
    display: none;
    margin-bottom: 10px;
    @media ($desktop){
      display: block;
    }
  }

  .btn-play{
    margin-right: 14px;
  }
}

.btn-menu-dots{
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  display: none;
  @media ($desktop){
    display: inline-block;
  }
}

// Playlists

.section-playlists{
  @extend %clearfix;
}

.list-playlists{
  margin: 0 (-$padding-mobile/2);
  text-align: center;
}

.playlist{
  margin-bottom: 22px;
  display: inline-block;
  position: relative;
  margin-bottom: $padding-mobile;
  padding-left: $padding-mobile/2;
  padding-right: $padding-mobile/2;
  width: 100%;
  float: left;
  @extend %clearfix;

  img{
    display: block;
    max-width: 100%;
  }

  @media (min-width: 623px) {
    width: 50%;
  }
  @media ($desktop) {
    width: 100%;
  }
  @media (min-width: 814px) {
    width: 50%;
  }
  @media (min-width: 1174px){
    width: 33.333333%;
  }
}

// Artista
.page-artista, .page-pais{
  .btn-artist-play, .btn-artist-follow{
    min-width: 120px;
  }

  .btn-artist-play{
    margin-bottom: 10px;
  }
  .btn-artist-follow{
    min-width: 120px;
  }

  .container-artista, .container-pais{
    .tab{
      display: none;

      &--active{
        display: block;
      }
    }
  }

  .album-sm{
    width: 50px;
    height: 50px;
  }

  .row--album-art{
    max-width: 60px;
  }

  .tab-canciones{
    .square__subtitle{
      @media($desktop){
        display: none;
      }
    }
  }
}

.mus-tab{
  display: none;
}
.tab--active{
  display: block;
}

.list-albums{
  margin-left: 0 -$padding-mobile/2;
  margin-right: 0 -$padding-mobile/2;
  @extend %clearfix;
  max-width: 1260px;
  margin-bottom: $padding-mobile;

  &__square{
    color: white;
    width: 50%;
    float: left;
    padding: 0 $padding-mobile / 2;
    margin-bottom: $padding-mobile;
    img{
      max-width: 100%;
    }
    @media (min-width: 623px) {
      width: 25%;
    }
    @media (min-width: 1174px){
      width: 16.66666666666667%;
    }
  }

  &--artist{
    text-align: center;
  }

  &--inline{
    display: inline-block;
    float: left;
  }
}

.bio{
  &__img-wrap{
    margin-top: -$padding-mobile;
    margin-left: -$padding-mobile;
    margin-right: -$padding-mobile;
    text-align: center;
    @media($desktop){
      width: 50%;
      float: right;
      margin: 0;
      padding-left: 11px;
    }
  }

  &__body{
    font-size: 15px;
    font-weight: 300;
    @media($desktop){
      width: 50%;
      float: left;
      padding-right: 11px;
      p:first-of-type{
        margin-top: 0;
      }
    }
  }
}

.tab-novedades{
  .news-list{
    margin: 0;
    padding: 0;
    max-width: 860px;
    list-style: none;
  }

  .news-item{
    margin-bottom: $padding-mobile;
    padding: $padding-mobile/2;
    width: 100%;
    @extend %clearfix;

    a{
      color: white;
    }

    &:nth-of-type(even){
      background-color: #121212;
    }

    &__body{
      font-weight: 300;
      font-size: 18px;
      margin-left: 72px;
      @media($desktop){
        font-size: 14px;
      }
    }

    &__title{
      font-size: 20px;
      font-weight: bold;
      @media($desktop){
        font-size: 16px;
      }
    }

    &__date{
      font-size: 14px;
      font-weight: 300;
      @media($desktop){
        font-size: 13px;
      }
    }

    &__img{
      float: left;
      margin-right: $padding-mobile;
      width: 50px;
      height: 50px;
    }

    p:last-child{
      margin-bottom: 0;
    }
  }
}

.tab-shows{
  .shows-list{
    margin: 0;
    padding: 0;
    margin: 0 (-$padding-mobile/2);
    max-width: 1250px;
    list-style: none;
    @extend %clearfix;
  }

  a{ color: white; }

  .show-item{
    position: relative;
    margin-bottom: $padding-mobile;
    padding-left: $padding-mobile/2;
    padding-right: $padding-mobile/2;
    width: 100%;
    float: left;
    @extend %clearfix;

    @media (min-width: 623px) {
      width: 50%;
    }
    @media ($desktop) {
      width: 100%;
    }
    @media (min-width: 814px) {
      width: 50%;
    }
    @media (min-width: 1174px){
      width: 33.333333%;
    }

    &__img{
      width: 100%;
    }

    &__plus{
      width: 27px;
      height: 27px;
      position: absolute;
      bottom: 0;
      right: $padding-mobile/2;
    }

    &__title{
      font-size: 18px;
      font-weight: bold;
    }

    &__date, &__venue{
      font-size: 18px;
      font-weight: 300;
    }
  }

}

.section-search-results{
  position: relative;
}

.list-search-albums{
  position: relative;
}

.search-title-albumes{
  padding-left: $padding-mobile/2;
  @media (min-width: 623px) {
    position: absolute;
    top: -46px;
    left: 0;
  }

}

.search-title-albumes, .search-title-artistas{
  padding-left: $padding-mobile/2;
  @media (min-width: 623px) {
    position: absolute;
    left: 0;
    top: -46px;
  }
}

.list-search-artists{
  width: 100%;

  @media (min-width: 623px){
    width: 33.333%;
  }

  .list-albums__square{
    width: 50%;
  }
}
.list-search-albums{
  width: 100%;
  @media (min-width: 623px){
    width: 66.666%;
  }

  .list-albums__square{
    width: 50%;

    &:nth-of-type(2n){ display: none; }

    @media (min-width: 623px){
      width: 25%;
      &:nth-of-type(2n){
        display: inline-block;
      }
    }
  }
}

.search-results-list{
  @extend %clearfix;
  margin-left: 0 -$padding-mobile/2;
  margin-right: 0 -$padding-mobile/2;
  margin-top: 62px;

  .more-link{
    position: absolute;
    right: $padding-mobile/2;
    top: 8px;
    color: #a1a1a1;
    font-size: 14px;
    @media(min-width: 623px){
      top: -42px;
    }
  }
}

.list-results{
  position: relative;

  &--artist{
    text-align: center;
  }

  &--inline{
    display: inline-block;
    float: left;
  }
}

.list-amount{
  color: #5a5a5a;
  font-weight: lighter;
}

.btn-new-list{
  color: white;
  background: $color-blue;
  border: none;
  float: right;
  font-size: 9px;
  padding: 9px;
  @media (min-width: 321px){
    font-size: 10px;
    padding: 9px 12px;
  }
  &:hover{
    color: white;
    background: $color-blue;
    border: none;
  }
}

/* Configuración */
.user-config{
  max-width: 660px;
  &__avatar-wrap{
    float: left;
    padding-right: $padding-mobile;
    width: 35%;
    @media (min-width: 528px) {
      width: 120px;
      height: 120px;
    }
  }

  &__userdata{
    @extend %clearfix;
    margin-bottom: 30px;
  }

  &__data{
    float: left;
    width: 65%;
    font-size: 16px;
    margin-bottom: $padding-mobile;
    @media (min-width: 528px){
      width: calc(100% - 120px);
    }
  }

  &__data-text{
    @media (min-width: 820px){
      width: 325px;
      float: left;
    }
  }

  &__buttons{
    @media (min-width: 820px){
      text-align: right;
    }

  }

  &__name{
    font-size: 26px;
    line-height: 1;
    margin-bottom: 5px;
    font-weight: 300;
  }

  &__account{
    margin-bottom: 10px;
  }

  &__account-type{ text-transform: uppercase; }

  &__account-type, &__account-link{
    font-weight: bold;
    &:hover{
      transition: 200ms;
      color: white;
    }
  }

  .option-list{
    padding: 0;
    list-style: none;
    margin: 0 (-$padding-mobile);
    color: #a9a9a9;
    margin-bottom: 60px;

    @media($desktop){
      margin: inherit;
      margin-bottom: 60px;
    }

    &__item{
      @extend %clearfix;
      padding: 6px $padding-mobile;
      &:nth-child(odd){
        background-color: #0e0e0e;
      }
      @media($desktop){
        padding: 10px $padding-mobile;
      }
    }

    &__text{
      float: left;
      max-width: 180px;
      @media($desktop){
        max-width: 400px;
      }
      @media(min-width: 800px){
        max-width: 500px;
      }
    }

    &__option{
      float: right;
      cursor: pointer;
      img{
        vertical-align: middle;
      }
    }
  }

  .config-links{
    color: white;

    .separator{
      margin: 0 6px;
    }
    a{
      color: white;
      position: relative;
      &:hover{
        transition: 200ms;
        color: $color-blue;
      }
    }

  }
}

.mus-select-plain{
  background-color: black;
  color: white;
  height: 32px;
  border: none;
  outline: none;
}

.empty{

  max-width: 495px;
  text-align: center;
  position: relative;
  width: 95%;
  margin: 0 auto;

  @media (min-width: 769px){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: calc(50% - #{$bottombar-height});
  }

  &--sm{
    max-width: 300px;
  }
  @media ($desktop){
    margin-left: calc(175px / 2); // Compensar por el ancho del sidebar
  }
  &__icon{
    width: 120px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
  }
  &__title{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
  }

  p{
    font-size: 16px;
  }

  &__input{
    background-color: rgba(255, 255, 255, .12);
    width: 100%;
    margin-top: 20px;
    border: none;
    outline: 0;
    height: 36px;
    color: white;
    padding: 0 36px;
    background-image: url(../img/icon-loupe-blue.svg);
    background-repeat: no-repeat;
    background-position: center left 10px;
    background-size: 15px;
  }
}

.empty__bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &:after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .90);
  }
}

.input-line{
  border: none;
  background-color: transparent;
  width: 100%;
  border-bottom: 1px solid $color-blue;
  outline: 0;
  color: white;
}

.modal-add-list{

  .modal__container{
    @media($desktop){
      width: 320px;
    }
  }

  .modal-listas{
    max-height: auto;
    overflow: auto;
    @media($desktop){
      max-height: 200px;
    }
  }

  .btn-modal-cancelar{
    margin-right: 20px;
  }

  .btn-modal-cancelar, .btn-modal-crear{
    width: 45%;
    width: calc(50% - 10px);
    float: left;
    margin-bottom: 30px;
  }

  .modal-lista{
    height: 90px;
    padding: 15px 0;
    margin-right: 5px;
    border-top: 1px solid #323232;
    border-bottom: 1px solid #323232;
    cursor: pointer;
    .album-sm{
      height: 100%;
      display: inline-block;
      float: left;
      margin-right: 15px;
    }
    .square__title{
      font-size: 16px;
    }
    .square__subtitle{
      font-size: 14px;
    }

    &__info{
      margin-top: 7px;
    }
  }
}
