main content


<div class="region-albums">
  <div class="region-header">
    Uruguay
  </div>

  <div class="album">
    <img src="//rymimg.com/lk/f/l/1c518409b9fe4e5d8039917f8fac50b4/2505439.jpg" class="album__cover">
    <div class="album__title">Quién Va a Cantar</div>
    <div class="album__artist">Ruben Rada</div>
  </div>

  <div class="album">
    <img src="//rymimg.com/lk/f/l/fb868726528f5b64d3c1b75ee7b1bfd5/3560888.jpg" class="album__cover">
    <div class="album__title">Totem</div>
    <div class="album__artist">Totem</div>
  </div>
</div>

<div class="region-albums">
  <div class="region-header">
    Internacional
  </div>

  <div class="album">
    <img src="//rymimg.com/lk/f/l/103c384effa312fd268cce76386de4a2/1942515.jpg" class="album__cover">
    <div class="album__title">1984</div>
    <div class="album__artist">Van Halen</div>
  </div>

  <div class="album">
    <img src="//rymimg.com/lk/f/l/206e883c92648d71697a480710f54dd4/2553892.jpg" class="album__cover">
    <div class="album__title">Little Queen</div>
    <div class="album__artist">Heart</div>
  </div>
</div>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde dignissimos ut officiis dolorum commodi ducimus adipisci praesentium, magni debitis blanditiis perferendis eius maiores similique error autem odit, distinctio, ex id?
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam rerum culpa omnis amet ipsum, harum dolore quae, accusantium inventore veritatis laborum blanditiis esse dolor nobis cum commodi iusto atque animi?
</p>
